.drop-down-menu {
  position: fixed;
  top: -169%;
  width: 100%;
  height: 100%;
  transition: .8s;

  @media (min-width: 768px) {
    top: 0;
    left: 0;
    width: 306px;
    display: none;
  }

  @media (min-width: 1440px) {
    position: sticky;
    width: 306px;
    height: 967px;
    display: block;
    background: #FFFFFF;
  }
}

.drop-down-right-inactive {
  width: 100%;
  height: 100%;
}


.inactive_body {
  position: fixed;
}



.drop-down-nav {
  padding: 36px 40px 27px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  @media (min-width: 360px) {
    padding-left: 24px
  }
}

.drop-down-menu_active {
  top: 0;
  left: 0;
  width: 320px;
  height: 134%;
  position: fixed;
  z-index: 10;
  background: #FFFFFF;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  transition: .3s;

  @media (min-width: 480px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 134%;
    display: block;
  }

}


.drop-down-nav-ul {
  max-width: 100%;
  margin-bottom: 10px;

  @media(min-width: 768px) {
    margin-bottom: 241px;
  }


  &__item {
    position: relative;
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    list-style-type: none;
    transition: 1s;
  }

  &__item:hover::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -16px;
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 20;
    @media (min-width: 360px) {
      left: -24px;
    }

  }


  &__link {
    position: relative;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
  }

  &__link:hover {
    color: #ff3e79;
  }
}

.link_active {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 32px;
  background: #41F6D7;
  z-index: 3;
}

.drop-down-btn-links {
  max-width: 158px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;

  &__phone-btn {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #FF3E79;
    background-image: url('../img/phone.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 1s;

  }

  &__phone-btn:hover {
    background-color: #ffe0e9;
    transition: background-color .3s;
  }

  &__message-btn {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #FF3E79;
    background-image: url('../img/message.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 1s;
  }

  &__message-btn:hover {
    background-color: #ffe0e9;
    transition: background-color .3s;
  }

  &__profile-btn {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #FF3E79;
    background-image: url('../img/profile.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 1s;
  }

  &__profile-btn:hover {
    background-color: #ffe0e9;
    transition: background-color .3s;
  }

}

.navigation-scope {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__mail {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
  }

  &__phone {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;
    cursor: pointer;
  }

  &__languages {
    max-width: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    cursor: pointer;
  }

  &__lang-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    transition: all 0.2s;
  }

  &__lang-item:hover {
    font-weight: bold;
    color: #1B1C21;
  }
}

.drop-down-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 29px 0px 22px;

  @media (min-width: 1120px) {
    width: 306px;
    padding: 30px 29px 0 22px;
  }

  &__link-img {
    display: none;

    @media (min-width: 1120px) {
      display: block;

    }
  }


  &__search {
    width: 40px;
    height: 40px;
    background: #FF3E79 url('../img/icon.svg') no-repeat center center;
    border-radius: 50%;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
  }

  &__search:hover {
    background-color: #ffe0e9;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 0px;
  align-items: center;

  &__menu-burger {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    transition: .3s;
    cursor: pointer;
    padding: 0;
    z-index: 2;

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__menu-burger:hover {
    background-color: #ffe0e9;
  }


  &__line-first {
    position: absolute;
    left: 23%;
    bottom: 47%;
    width: 21.73px;
    height: 2.17px;
    background: #FFFFFF;
    border-radius: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &__line-third {
    position: absolute;
    left: 23%;
    bottom: 47%;
    width: 21.73px;
    height: 2.17px;
    background: #FFFFFF;
    border-radius: 1px;
    -webkit-transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
    transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
  }



  @media(min-width: 1440px) {
    padding-left: 0;
  }
}