.section-main-content__title {
  display: flex;
  margin-bottom: 19px;
  font-size: 28px;
  font-family: 'TT Lakes Bold';

  @media (min-width: 1440px) {
    display: none;
  }
}

.section-main-content__title::before {
  content: '';
  top: 0;
  left: 0;
  width: 4px;
  height: 40px;
  margin-right: 12px;
  background: #41F6D7;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.limiter-service-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: 768px) {
    align-items: flex-start;
    padding-top: 5px;
  }
}

.container {
  position: relative;
  background: linear-gradient(270deg, #f8f8f8 17%, hsla(0, 0%, 97.3%, 0));
  padding-top: 24px;
  border-bottom: 1px solid #D9FFF5;
}

.slider-menu {
  height: 50px;
  margin-bottom: 8.22px;
  overflow: scroll;

  @media (min-width: 1280px) {
    overflow: visible;
  }

  @media (min-width: 1440px) {
    overflow: visible;
    height: 77px;
  }
}

.swiper-container-main {
  display: flex;
  flex-direction: column;

}

.slider-services {
  min-width: 1200px;
  display: flex;
  overflow: scroll;
  padding-left: 16px;

  @media (min-width: 1000px) {
    overflow: visible;
  }

  &__item {
    display: flex;
    width: 232px;
    height: 41px;
    padding: 8px 9.3px 8px 16.54px;
    justify-content: center;
    align-items: center;
    margin-right: 5.56px;
    list-style-type: none;
    border: 2px solid transparent;
    transition: 0.2s;

    @media (min-width: 768px) {
      margin-right: 4.56px;
    }

    @media (min-width: 1440px) {
      justify-content: flex-start;
    }


  }

  &__item:hover {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    cursor: pointer;

  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    cursor: pointer;

  }

}

.slider-services__item:nth-child(3) {
  width: 157px;
}

.slider-services__item:nth-child(4) {
  width: 183px;
}

.slider-services__item:nth-child(6) {
  width: 96px;
}

.service-info {
  padding: 0px 16px 16px;

  &__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    height: 92px;
    overflow-y: hidden;


    @media (min-width: 768px) {
      padding-bottom: 10px;
      line-height: 20px;
    }
  }

  &__text_active {
    height: 100%;
  }
}

.opacity-text {
  opacity: 0.4;

  &__active {
    opacity: 1;
  }
}



.continue-container {
  padding: 16px 16px 0px;

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding-left: 32px;
    background-image: url('../img/arrow.svg');
    background-origin: padding-box;
    background-position: top 6px left 8px;
    background-repeat: no-repeat;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-decoration: none;
    cursor: pointer;
  }
}

.section-swiper-container {
  display: flex;
  flex-direction: column;

  &__title {
    padding: 16px 16px 16px 16px;
    background: linear-gradient(108deg, #F8F8F8 0%, #FFFFFF 98.61%);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    margin-bottom: 20px;

    @media (min-width: 1440px) {
      padding-left: 32px;
    }
  }
}

.swiper {
  width: 320px;
  height: 130px;
  overflow: hidden;

  @media (min-width: 480px) {
    width: 500px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    width: 100%;
    max-width: 990px;
    display: none;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    top: 10px;
    bottom: 10px;
    background: #bdbdbd;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .swiper-pagination-bullet-active {
    background: #B5B6BC;
  }
}

.swiper-logo-container {
  display: none;
  height: 175px;
  min-width: 750px;
  padding-left: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: hidden;

  @media (min-width: 768px) {
    display: flex;
    max-width: 1120px;
  }

  @media (min-width: 1440px) {
    padding-left: 32px;
  }

}

.swiper-logo-container_active {
  height: 100%;
}




.swiper-logo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 72px;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  border-radius: 6px;
  background: #FFFFFF;
  cursor: pointer;
  margin-right: 22px;
  margin-bottom: 16px;

  @media (min-width: 1440px) {
    width: 240px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 16px;
  }


  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    box-sizing: border-box;
    border-radius: 20px;
    background: transparent;
    transition: all 0.4s;
    cursor: pointer;
  }

  &__button:hover {
    background: #eb95ae;
    border: 2px solid #eb95ae;
  }


  &__line1 {
    display: inline-block;
    position: relative;
    left: 2px;
    bottom: 2px;
    width: 2px;
    height: 8px;
    background: #FF3E79;
    transform: rotate(-45deg);
    transition: all 0.4s;

  }


  &__line2 {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 2px;
    height: 8px;
    background: #FF3E79;
    transform: rotate(45deg);
  }
}

.container-read-logo {
  display: none;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center left 26px;
  padding-left: 51px;
  margin-top: 5px;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    display: block;
    position: relative;
    z-index: 111;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    cursor: pointer;

  }
}

.swiper-second {
  position: relative;
  width: 320px;
  height: 217px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;

  .swiper-pagination-second {
    position: absolute;
    bottom: 10px;
    left: 46%;
  }

  @media (min-width: 480px) {
    width: 500px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    width: 100%;
    max-width: 990px;
    display: none;
  }
}

.swiper-info-container {
  display: none;
  height: 175px;
  min-width: 750px;
  padding-left: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: hidden;

  @media (min-width: 768px) {
    display: flex;
  }

  @media (min-width: 1440px) {
    padding-left: 32px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }


  .swiper-info-container-item {
    position: relative;
    width: 224px;
    height: 160px;
    margin-right: 20px;
    margin-bottom: 16px;
    padding: 16px 0 0 16px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;

    @media (min-width: 1440px) {
      width: 240px;
    }
  }

  .swiper-info-container-item-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    background: transparent;
    box-sizing: border-box;
    border-radius: 20px;
    transition: all 0.4s;
    cursor: pointer;


    &__line1 {
      display: inline-block;
      position: relative;
      left: 3px;
      bottom: 3px;
      width: 2px;
      height: 8px;
      background: #FF3E79;
      transform: rotate(-45deg);
      transition: all 0.4s;

    }

    &__line2 {
      display: inline-block;
      position: relative;
      top: 2px;
      left: -2px;
      width: 2px;
      height: 8px;
      background: #FF3E79;
      transform: rotate(45deg);
    }
  }
}

.swiper-info-container-item-button:hover {
  background: #eb95ae;
  border: 2px solid #eb95ae;
}

.swiper-info-container_active {
  height: 100%;
}

.container-read-info {
  display: none;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center left 26px;
  padding-left: 51px;
  margin-top: 5px;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    display: block;
    position: relative;
    z-index: 111;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    cursor: pointer;

  }
}




.swiper-wrapper {
  padding-left: 16px;
  box-sizing: border-box;

  @media (min-width: 1120px) {
    padding-left: 32px;
  }
}

.swiper-slide {
  display: flex;
  padding: 16px 0;
  width: 100%;

  @media (min-width: 768px) {
    width: 248px;
    margin-right: -7px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 216px;
    height: 72px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.4s;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    box-sizing: border-box;
    border-radius: 20px;
    background: transparent;
    transition: all 0.4s;
    cursor: pointer;
  }

  &__button:hover {
    background: #eb95ae;
    border: 2px solid #eb95ae;
  }


  &__line1 {
    display: inline-block;
    position: relative;
    left: 2px;
    bottom: 2px;
    width: 2px;
    height: 8px;
    background: #FF3E79;
    transform: rotate(-45deg);
    transition: all 0.4s;

  }

  &__line2 {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 2px;
    height: 8px;
    background: #FF3E79;
    transform: rotate(45deg);
  }



}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #bdbdbd;

  @media (min-width: 768px) {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  background: #B5B6BC;
}


.swiper-title {
  display: none;
  padding: 16px 16px 32px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;

  &__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding-left: 32px;
    background-image: url('../img/arrow.svg');
    background-origin: padding-box;
    background-position: top 6px left 8px;
    background-repeat: no-repeat;
    text-decoration: none;
  }

}

.swiper-slide-second-item {
  display: flex;
  flex-direction: row;
  padding: 24px;
  position: relative;
  width: 224px;
  height: 160px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  border-radius: 6px;
  transition: all 0.4s;
  cursor: pointer;

  &__title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }
}

.swiper-slide-second-button {
  top: 101px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  box-sizing: border-box;
  border-radius: 20px;
  background: transparent;
  cursor: pointer;

  &__line1 {
    display: inline-block;
    position: relative;
    left: 2px;
    bottom: 3px;
    width: 2px;
    height: 8px;
    background: #FF3E79;
    transform: rotate(-45deg);
    border-radius: 6px;

  }

  &__line2 {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 2px;
    height: 8px;
    background: #FF3E79;
    transform: rotate(45deg);
    border-radius: 6px;
  }

}

.section-swiper-container-titles {
  display: none;
  width: 602px;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-left: 40px;
  padding-top: 16px;

}

.section-nested-flex {
  display: flex;
  justify-content: space-between;
  width: 143px;
}

.swiper-third {
  position: relative;
  width: 320px;
  height: 263px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;

  @media (min-width: 480px) {
    width: 550px;
  }

  @media (min-width: 768px) {
    display: none;
  }


  .swiper-pagination-bullets {
    position: absolute;
    bottom: 7px;
    left: 46%;
    width: 100%;
  }
}

.swiper-slide-third-item {
  position: relative;
  width: 260px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 16px 16px 20px 16px;
  cursor: pointer;

  &__title {
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72;
  }

  &__info {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-bottom: 16px;
  }

  &__button {
    position: absolute;
    width: 119px;
    height: 32px;
    background: #FF3E79;
    border-radius: 16px;
    border: none;
    right: 10px;
    bottom: 22px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    transition: 0.4s;
  }

  &__button:hover {
    background: #ffe0e9;
    color: #FF3E79;
  }
}

.swiper-container-desktop {
  display: none;
  padding: 0px 1px 32px 32px;

  @media (min-width: 768px) {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__titles {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      padding: 0px 231px 0px 22px;
      font-size: 14px;
      line-height: 16px;
      color: #7E7E82;
      mix-blend-mode: normal;
      opacity: 0.72;
    }
  }

  &-item {
    width: 100%;

    &__line {
      display: block;
      width: 100%;
      height: 1px;
      background: #EAEAEA;
    }
  }
}

.swiper-container-wrapper {
  width: 100%;
  background: #FFFFFF;
  border-radius: 6px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.swiper-flex-container {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 24px;

}

.wrap-container-services {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.wrap-container {
  width: 326px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button-link {
    width: 119px;
    height: 32px;
    border: none;
    background-color: #FF3E79;
    background-image: url('../img/dropdown.svg');
    background-repeat: no-repeat;
    background-position: center right 12px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s;
  }

  &__button-link:hover {
    color: #FF3E79;
    background-color: #ffe0e9
  }
}


.info-cost {
  max-width: 320px;
  padding: 16px 16px 40.02px 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21;

  @media (min-width: 480px) {
    max-width: 471px;
    padding: 0px 0px 40.02px 32px;
  }

  &__text {
    max-width: 193px;
    margin-bottom: 20px;

    @media (min-width: 480px) {
      max-width: 471px;
    }
  }

  &__text-offer {
    width: 192px;
    height: 54px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    background: url('../img/Line.svg') bottom 17px right 84px no-repeat;
    cursor: pointer;
  }
}

.swiper-container-main {
  hr {
    width: 100%;
    height: 1px;
    background: #D9FFF5;
  }
}

.footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 24px 0px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72;

  @media (min-width: 600px) {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 38px;
  }

  &__title {
    max-width: 218px;
    margin-bottom: 16px;
  }

  &__info-text {
    width: 313px;
    margin-bottom: 16px;

    @media (min-width: 600px) {
      text-align: right;
    }
  }
}