.drop-down-sidebar-call {
  position: fixed;
  top: 0;

  display: none;
  flex-direction: column;
  height: 100%;
  padding-bottom: 24px;
  overflow-y: auto;
  padding: 24px 16px;
  background: #FFFFFF;
  width: 320px;
  z-index: 10;
  transition: 1s;
  border-left: 1px solid #D9FFF5;
  border-radius: 1px;

  @media (min-width: 768px) {
    top: 0;
    right: 0;
    width: 420px
  }

}

.drop-down-sidebar-union-call {
  height: 510px;

  &__paragraph {
    position: relative;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;
    margin-bottom: 24px;
  }

  &__paragraph::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -16px;
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 20;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    margin-bottom: 18px;
  }
}

.link-text {
  color: #FF3E79;
  cursor: pointer;
}


.drop-down-sidebar-call_active {
  display: block;
  max-height: 100%;
  width: 100%;
  transition: 1s;

  @media (min-width: 768px) {
    right: 0;
    width: 420px;
  }
}

.drop-down-sidebar-wrapper-call {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 586px;

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
  }
}

.drop-down-button-call {
  position: relative;
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  @media (min-width: 480px) {
    display: none;
  }

  &__line-top {
    position: absolute;
    left: 23%;
    bottom: 47%;
    width: 21.73px;
    height: 2.17px;
    background: #FFFFFF;
    border-radius: 1px;
    transform: rotate(45deg);
  }

  &__line-bottom {
    position: absolute;
    left: 23%;
    bottom: 47%;
    width: 21.73px;
    height: 2.17px;
    background: #FFFFFF;
    border-radius: 1px;
    transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
  }
}

.drop-down-btn-delete {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  @media (min-width: 480px) {
    display: block;
  }

  &__line-top {
    position: absolute;
    left: 23%;
    bottom: 47%;
    width: 21.73px;
    height: 2.17px;
    background: #FFFFFF;
    border-radius: 1px;
    transform: rotate(45deg);
  }

  &__line-bottom {
    position: absolute;
    left: 23%;
    bottom: 47%;
    width: 21.73px;
    height: 2.17px;
    background: #FFFFFF;
    border-radius: 1px;
    transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
  }

}



.drop-down-button-call-desktop {
  display: none;

  @media (min-width: 480px) {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }

  &__line-top {
    position: absolute;
    left: 23%;
    bottom: 47%;
    width: 21.73px;
    height: 2.17px;
    background: #FFFFFF;
    border-radius: 1px;
    transform: rotate(45deg);
  }

  &__line-bottom {
    position: absolute;
    left: 23%;
    bottom: 47%;
    width: 21.73px;
    height: 2.17px;
    background: #FFFFFF;
    border-radius: 1px;
    transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
  }
}

.drop-down-form-call {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 62px;


  &__phone {
    width: 288px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 12px 0px 12px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    outline: none;

    @media (min-width: 768px) {
      width: 100%;
    }
  }
}


.drop-down-submit-call {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__btn {
    width: 136px;
    height: 32px;
    background: url('../img/dropdown.svg') no-repeat center right 10px #FF3E79;
    border-radius: 16px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
  }

}