.drop-down-sidebar-call {
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  flex-direction: row;
  height: 100%;
  width: 320px;
  z-index: 22;
  transition: 1s;
  border-radius: 1px;

  @media (min-width: 768px) {
    top: 0;
    right: 0;
    width: 420px
  }

}

.drop-down-sidebar-union-call {
  width: 320px;
  height: 550px;

  @media (min-width: 480px) {
    width: 385px;
  }

  &__paragraph {
    position: relative;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;
    margin-bottom: 24px;
  }

  &__paragraph::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -17px;
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 20;

    @media (min-width: 480px) {
      left: -32px;
    }
  }

  &__text {
    max-width: 376px;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    margin-bottom: 18px;
  }
}

.link-text {
  color: #FF3E79;
  cursor: pointer;
}

.left-modal-container {
  position: relative;
  display: none;
  max-width: 1479px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.8;

  @media (min-width: 480px) {
    display: block;
  }
}

.drop-down-sidebar-call_active {
  display: flex;
  max-height: 100%;
  width: 100%;
  transition: 1s;
  right: 0px;

  @media (min-width: 768px) {
    display: flex;
    right: 0;
  }
}

.drop-down-sidebar-wrapper-call {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 440px;
  height: 100%;
  background: #FFFFFF;
  border-left: 1px solid #D9FFF5;
  padding: 24px 16px;

  box-shadow: -2px 0px 37px rgb(69 79 126 / 90%), 16px 0px 52px rgb(14 24 80 / 17%);


  @media (min-width: 480px) {
    padding: 36px 32px;
  }


  &__text {
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
  }
}

.drop-down-form-call {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 62px;


  &__phone {
    width: 263px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 12px 0px 12px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    outline: none;

    @media (min-width: 480px) {
      width: 100%;
    }
  }
}


.drop-down-submit-call {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: 480px) {
    justify-content: flex-end;
  }

  &__btn {
    width: 136px;
    height: 32px;
    background-color: #FF3E79;
    background-image: url('../img/dropdown.svg');
    background-repeat: no-repeat;
    background-position: center right 10px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: .3s;
  }

  &__btn:hover {
    background-color: #ffe0e9;
    color: #FF3E79;
  }
}


.drop-down-sidebar {
  position: fixed;
  top: 0;
  display: none;
  flex-direction: row;
  height: 100%;
  width: 320px;
  z-index: 22;
  transition: 1s;
  border-radius: 1px;


  @media (min-width: 768px) {
    width: 420px;
  }

}


.drop-down-sidebar_active {
  display: flex;
  max-height: 100%;
  width: 100%;
  transition: 1s;
  right: 0px;

  @media (min-width: 768px) {
    display: flex;
  }
}

.drop-down-sidebar-union {
  width: 320px;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 480px) {
    width: 384px;
  }

  &__paragraph {
    position: relative;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;
  }

  &__paragraph::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -17px;
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 20;

    @media (min-width: 480px) {
      left: -32px;
    }

  }

  &__text {
    max-width: 376px;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;

    @media (min-width: 480px) {
      min-width: 376px;
    }
  }
}


.drop-down-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 440px;
  height: 100%;
  background: #FFFFFF;
  padding: 24px 16px;
  border-left: 1px solid #D9FFF5;
  box-shadow: -2px 0px 37px rgb(69 79 126 / 90%), 16px 0px 52px rgb(14 24 80 / 17%);

  @media (min-width: 480px) {
    padding: 40px 32px;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
  }
}


.drop-down-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 310px;

  &__text {
    width: 288px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 12px 0px 12px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    outline: none;

    @media (min-width: 480px) {
      width: 100%;
    }
  }

  &__phone {
    width: 288px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 12px 0px 12px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    outline: none;

    @media (min-width: 480px) {
      width: 100%;
    }
  }

  &__mail {
    width: 288px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 12px 0px 12px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    outline: none;

    @media (min-width: 480px) {
      width: 100%;
    }
  }

  &__message {
    width: 288px;
    height: 118px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 12px 0px 12px 16px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    resize: none;
    outline: none;

    @media (min-width: 480px) {
      width: 100%;
    }

  }
}


.drop-down-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: 480px) {
    justify-content: flex-end;
  }

  &__btn {
    width: 136px;
    height: 32px;
    background-image: url('../img/dropdown.svg');
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-color: #FF3E79;
    border-radius: 20px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: .3s;
  }

  &__btn:hover {
    background-color: #ffe0e9;
    color: #FF3E79;
  }
}