@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.eot');
  src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.eot');
  src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.eot');
  src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes ExtraBold';
  src: url('../fonts/TTLakes-ExtraBold.eot');
  src: url('../fonts/TTLakes-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-ExtraBold.woff') format('woff'),
    url('../fonts/TTLakes-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import 'header';
@import 'header-desktop';
@import 'main-content';
@import 'drop-down-menu';
@import 'sidebar-call';
@import 'buttons';

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 31.25em) {
  body {
    padding-left: 4%;
    padding-right: 4%;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes Regular';
  background: #F8F8F8;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
  margin: 0;
  padding: 0;
}

hr {
  color: #D9FFF5;
}

.image__logo-768,
.image__logo-1120,
.wrapper-btn-links__profile-btn,
.wrapper-btn-links__message-btn,
.wrapper-btn-links__phone-btn,
.inactive {
  display: none;
}

.section {
  border-right: 1px solid #D9FFF5;
  border-left: 1px solid #D9FFF5;
}

.main-container {
  @media (min-width: 1540px) {
    display: flex;
    justify-content: center;
    max-width: 1120px;
    margin: 0 auto;
  }
}

.container {
  position: relative;
  background: linear-gradient(270deg, #f8f8f8 17%, hsla(0, 0%, 97.3%, 0));
  padding-top: 24px;
  border-bottom: 1px solid #D9FFF5;


  @media (min-width: 768px) {
    display: block;
  }
}

.container-active {
  opacity: 0.2;
}

.limiter-service-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



.service-container {
  margin-bottom: 32px;
}

.image__logo {
  display: block;
  max-width: 1190px;
  border-radius: 4px;

  @media (min-width: 580px) {
    max-width: 530px;
  }

  @media (min-width: 768px) {
    display: none;
  }
}


@media (min-width: 580px) {

  .wrapper-btn-links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 158px;

    &__phone-btn {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      border: none;
      background-color: #FF3E79;
      background-image: url('../img/phone.svg');
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: .3s;
    }

    &__phone-btn:hover {
      background-color: #ffe0e9;
    }

    &__message-btn {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      border: none;
      background-color: #FF3E79;
      background-image: url('../img/message.svg');
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: .3s;
    }

    &__message-btn:hover {
      background-color: #ffe0e9;
    }

    &__profile-btn {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      border: none;
      background-color: #FF3E79;
      background-image: url('../img/profile.svg');
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: .3s;
    }

    &__profile-btn:hover {
      background-color: #ffe0e9;
    }

  }



  .limiter-service-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .limiter-wrapper__menu-burger {
    margin-right: 0px;
  }

  .union-container__line-before {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
  }
}

@media (min-width: 768px) {

  .image__logo-768 {
    display: block;
    width: 360px;
    border-radius: 4px;
    margin-right: 25px;
  }

  .limiter-service-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 5px;
  }

  .service-info {
    padding-top: 0px;

    &__text {
      padding-bottom: 10px;
      line-height: 20px;
    }
  }

  .continue-container {
    padding: 0px 2px 16px;
  }

  .block::after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2px;
    height: 32px;
    background: #0e0c0c;
    border-radius: 1px;
  }
}

@media (min-width: 1540px) {

  .limiter-wrapper,
  .image__logo-768 {
    display: none;
  }

  .slider-services {
    flex-wrap: wrap;
    min-width: 1120px;
    overflow: visible;
  }

  .slider-services__item {
    margin-right: 3.54px;
  }

  .image__logo-1120 {
    display: block;
    border-radius: 4px;
  }

  .container {
    padding-top: 0px;
  }
}